.DS_Store
.idea
.java-version
.mypy_cache
.nvmrc
.python-version
.scannerwork
*.code-workspace
!project.code-workspace
.vscode/settings.json


# Python Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
