.results_card {
  overflow: hidden;
  box-shadow: 0 2px 20px #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  border-top: 5px solid #005eb8;
}

.results-card__header {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 400px;
  font-size: 30px;
}

.results-card__header__title {
  font-weight: 600;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;
}

.results-card__summary_list {
  list-style: none;
  padding: 0;
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 0;
  margin-right: 0;
}
